extends layout

block content
    section.homepage
        img.beluga-logo-main(src='/beluga_icon.png', alt='Beluga')
        h1.title= title

        form(action='/', method='POST')
            //- | Search Cluster:
            input.clusterSearch(type='search', name='name', placeholder='http://')
            br
            input.search-button(type='submit', value='Beluga Search')
            input.potter-about(type='button', value='Potter About', onclick="window.location.href='/websites'")

        //- p.tagline.
            Find connections between websites
