extends layout

block content

    img(src='/beluga_icon.png', alt='Beluga', height='233', width='232')

    h1= title

    p.
        Find connections between websites.
    form(action='/', method='POST')
        //- | Search Cluster:
        input(class='clusterSearch', type='search', name='name', placeholder='http://')
        br
        input(type='submit', value='Cluster Search')

    p
        br
        strong
            a(href='/websites') Potter about.
