extends layout

block content
    h1= title

    p.
        Make connections between websites. (Search coming soon)

    p
        strong
            | Get started:&nbsp;
            a(href='/users') View all users

    p
        strong
            | Get started:&nbsp;
            a(href='/websites') View all websites
