extends layout

block content
    h1 Websites

    form(action='', method='POST')
        p Add a website to Cluster:
        input(type='text', name='name', placeholder='URL', required)
        input(type='submit', value='Add')

    if websites.length
        p Current websites:
        ul.websites
            for website in websites
                li.website
                    a(href='/websites/#{website.id}') #{website.name}
    else
        p There are no websites currently.

