extends layout

block content
    hr
    h1 Websites
    hr

    form(action='', method='POST')
        p Add a website to Cluster:
        input(type='text', name='name', placeholder='URL', required)
        input(type='submit', value='Add')

    hr
    br

    if websites.length
        p Here are the latest websites added to Cluster:
        ul.websites
            for website in websites
                li.website
                    a(href='/websites/#{website.id}') #{website.name}
    else
        p There are no websites currently.

